.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 64px 24px;
  min-height: 350px;
  display: flex;
  align-items: center;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-size: var(--heading-font-size-xxl);
}

.hero p {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255 255 255 / 85%);
  font-size: var(--body-font-size-m);
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero picture::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 60%);
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 80px 32px;
    min-height: 400px;
  }
}
